.padded{
    padding-top: 30px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 90px;
 }
/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 105px;
    background-color:#f5f5f5;
    padding-top: 5px;
} */
/* #container{
    height:1000px;
  
} */
#container {
    margin: 4px, 4px;
    padding: 4px;
    width: 100%;
    height: 800px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
  }
  
  .footer {
   
    bottom: 0;
    width: 100%;
    height: 105px;
    background-color: #f5f5f5;
    padding-top: 5px;
  }