<div>
    <form class="d-flex">
        <input class=" col-sm-3 me-sm-2" type="text" placeholder="Search" ng-model="SearchText" style="float: right; margin-left: 70%;">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      </div>
    <h2 style="color:goldenrod; font-family: Georgia, 'Times New Roman', Times, serif;">List of Hotels</h2>
    <ul>
     
            <li ng-repeat ="hotel in vm.travel.hotels | filter : SearchText" style="list-style-type: none;">
           <h5 layout="row" layout-align="start center"> <a style="text-decoration: none; color:rgb(214, 195, 146)" ng-href="#!/travels/{{vm.travel._id}}/hotels/{{hotel._id}}"> {{hotel.name}} </a>  &nbsp;&nbsp;&nbsp; 
            <button type="button" class="btn btn-secondary  col-sm-1" ng-click = "vm.deleteHotel(vm.travel._id, hotel._id)">Delete</button>&nbsp;&nbsp;&nbsp; </h5>

            <div class="card border-primary mb-3" style="max-width: 60rem;">
              <div class="card-header">Hotel</div>
              <div class="card-body">
                <h4 class="card-title"><a style="text-decoration: none; color:rgb(214, 195, 146)"
                  ng-href="#!/travels/{{vm.travel._id}}/hotels/{{hotel._id}}"> {{hotel.name}}  </a></h4>
                <p class="card-text">Enjoy your stay at{{hotel.name}} <br>
                  {{hotel.name}} star hotel </p>
                <button type="button" class="btn btn-secondary  col-sm-1"
                ng-click="vm.deleteHotel(vm.travel._id, hotel._id)">Delete</button>
              </div>
            </div>
            </li>
        
    </ul>
    <form name="vm.myform" ng-submit="vm.addHotel(vm.travel._id)">
        <h3 style="color:goldenrod; font-family: Georgia, 'Times New Roman', Times, serif;">Add New Hotel</h3>

 
        <label for="Hotel Name" class="col-sm-1" class="form-label" >Hotel Name: </label> 
        <input  class="col-sm-3" type="text", name="destination", ng-model="vm.name" required style="color:black"/><br><br>
        <label for="Hotel Star" class="col-sm-1" class="form-label"> Hotel Star:</label> 
        <input class="col-sm-3"  type="text", name="averageTicketPrice" ng-model="vm.star" required style="color:black"/><br><br>
        <button type="submit" class="btn btn-primary">Save</button></form>
    
        <label for="message" class="col-sm-1" > {{vm.message}}</label>  <br>
        <a ng-href="#!/travels/{{vm.travel._id}}" style=" color:rgb(212, 181, 100); font-size:medium;">Go back to Travel Page</a><br>
        <a ng-href="#!/travels" style=" color:rgb(212, 181, 100); font-size:medium;">Go back to list of Travels</a>