
<H2 style="color:goldenrod;font-family: Georgia, 'Times New Roman', Times, serif;">Details about {{vm.hotel.name}}:</H2>
<h5 >Hotel Name :{{vm.hotel.name}} </h5>
<h5>  Hotel Star: {{vm.hotel.star}}</h5> 
</p>

<form name="vm.myform" ng-submit="vm.updateHotel(vm.travel._id, vm.hotel._id)">
<h3 style="color:goldenrod; font-family: Georgia, 'Times New Roman', Times, serif;">Update Hotel</h3>

 
<label for="Hotel Name" class="col-sm-1" class="form-label" >Hotel Name: </label> 
<input  class="col-sm-3" type="text", name="destination", ng-model="vm.name" required style="color:black"/><br><br>
<label for="Hotel Star" class="col-sm-1" class="form-label"> Hotel Star:</label> 
<input class="col-sm-3"  type="text", name="averageTicketPrice" ng-model="vm.star" required style="color:black"/><br><br>
<button type="submit" class="btn btn-primary">Save</button></form>

<label for="message" class="col-sm-1" > {{vm.message}}</label>  
<br>
<a ng-href="#!/travels/{{vm.travel._id}}/hotels" style=" color:rgb(212, 181, 100); font-size:medium;">Go back to list of Hotels</a><br>
<a ng-href="#!/travels/{{vm.travel._id}}" style=" color:rgb(212, 181, 100); font-size:medium;">Go back to Travel Page </a>