<H2 style="color:goldenrod; font-family: Georgia, 'Times New Roman', Times, serif;">Details about {{travel.destination}}:</H2>
<h5>Destination :{{travel.destination}} </h5>
<h5> Ticket Price: {{travel.averageTicketPrice}}</h5>
<h5> distance: {{travel.distance}} miles</h5>


<!-- <a href="#!/travels/{{vm.travel._id}}/hotels" style=" color:rgb(212, 181, 100); font-size:x-large; font-family: Georgia, 'Times New Roman', Times, serif;">View Hotels</a> -->
<br>
<br>
<!-- <form name="vm.myform" ng-submit="vm.updateTravel(vm.travel._id)">
  <h3 style="color:goldenrod;  font-family: Georgia, 'Times New Roman', Times, serif;">Update Travel</h3>


  <label for="Destination" class="col-sm-1" class="form-label">Destination: </label>
  <input class="col-sm-3" type="text" , name="destination" , ng-model="vm.destination" required
    style="color:black" /><br><br>
  <label for="Ticket Price" class="col-sm-1" class="form-label"> Ticket Price:</label>
  <input class="col-sm-3" type="text" , name="averageTicketPrice" ng-model="vm.averageTicketPrice" required
    style="color:black" /><br><br>
  <label for="Distance" class="col-sm-1" class="form-label">Distance: </label>
  <input class="col-sm-3" type="text" , name="distance" ng-model="vm.distance" style="color:black" /><br><br>


  <button type="submit" class="btn btn-primary">Save</button>
</form> -->

<!-- <label for="message" class="col-sm-1"> {{vm.message}}</label><br> -->

<a routerLink="/travels" style=" color:rgb(212, 181, 100); font-size:medium;">Go to Travels Page</a><br>
<a routerLink="/" style=" color:rgb(212, 181, 100); font-size:medium;">Go to Home Page</a>